/*Selector Universal*/
* {
    margin: 0px;
    padding: 0px;
}

/* Definimos ancho y alto para el ancabezado*/
.logo{
    width: 100%;
    height: 150px;
    background-color: black;
    color: #403F3D;
}

/*Parte izquierda en donde va imagen del logo*/
#leftFloat{
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 8%;
    line-height: 160px;
    background-color: #403F3D;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    border-radius:130px;
}

/*dar forma de circulo al logo*/
.logoredondo{
   
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 53%;
    margin-left: 15%;
    line-height: 160px;
    background-color: #403F3D;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 130px;
}

/*Parte derecha en donde va 
    -buscador
    -mesanjes
    -incio seccion
    -registro
    -menu
*/

#rightFloat{
    width: 88%;
    height: 118px;
    margin-left: 10px;
    padding: 0px 10px 0px 0px;
    background-color: black;
    text-align: center;
    float: left;
}

/*colocar la barra de navegacion*/
#rightFloat .posicionBoton{
    width: 60%;
    padding: 45px 10px 2px 20px;
    line-height: 25px;
    background-color: black;
    text-align: center;
    float: left;
}

/*unir el buscador con el texto*/
#rightFloat .posicionBoton .container1{
    width: 100%;
    height: 25px;
    margin-left: 2px;
    padding-left: 20px;
    vertical-align: middle;
    white-space: nowrap;
}


/*colocar imagen de busqueda*/
#rightFloat .posicionBoton .container1 .icon{
    width: 3%;
    position: absolute;
    color: black;
    float: left;
  }

  /*Colocar las distintas opciones del encabezado
    -mensajes, inicio, resgistrarse, barra busqueda
  */

  #rightFloat .posicionBoton .container1 input.botonBuscar{
    width: 95%;
    height: 35px;
    background: #FFFAF2;
    border: none;
    font-size: 10pt;
    color: black;
    padding-left: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  #rightFloat .opcionesUsuairo{
    width: 35%;
    padding: 2px 10px 2px 20px;
    line-height: 25px;
    background-color: black;
    text-align: center;
    float: left;
}

#rightFloat .opcionesUsuairo .container2{
    width: 100%;
    height: 80px;
    margin-left: 2px;
    padding-left: 20px;
    vertical-align: middle;
    white-space: nowrap;
    background-color: black;
}

#rightFloat .opcionesUsuairo .container2 .btnAcceder{
    width: 15%;
    margin-right: 50px;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
}

#rightFloat .opcionesUsuairo .container2 .btnMensajeria{
    width: 15%;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
}


#rightFloat .opcionesUsuairo .container2 .btnCrearCuenta{
    width: 15%;
    margin-left: 50px;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
}


/* CSS PARA LA BARRA DE MENU */
#menu{
    width: 97.35%;
    height: 45px;
    margin:  0px;
    padding: 5px 20px 5px 20px;
    background-color: black;
    text-align: center;
    float: left;
}

#menu li{
    font-size: 16px;
    padding: 2px;
    margin-left: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    display: inline-block;
}

#menu li a {
    font-weight:600;
    text-decoration:none;
    padding: 10px;
    display: inline-block;
    color: rgb(243, 241, 241);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}


#menu li a:hover, #menu li:hover > a{
    color: black;
    background: #FFE4E3;
}

.separador {
    width: 100%;
    height: 0px;
    background-color: white;
    clear: both;
}




.footer {
    width: 100%;
    height: 400px;
    margin-top: 0px;
    text-align: center;
    float: left;
    line-height: 45px;
    color: black;
    background-color: black;
}

.footer .container6{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    float: left;
    line-height: 45px;
    color: white;
    
}

.footer .container6 .btnFacebook{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-right: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container6 .btnInstagram {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container6 .estiloPiePagina {
    width: 100%;
    height: 270px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
   
}

.seccion1 {
    width: 100%;
    height: 50%;
    background-color: white;
}

 .columna1 {
    width: 30%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-left: 3%;
    float: left;
    background-color: white;
}


 .columna2 {
    width: 30%;
    height: 50%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-left: 3%;
    background-color: white;
}

 .columna3 {
    width: 30%;
    height: 50%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-left: 3%;
    background-color: white;
}



.footer  #footerlogo{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: #403F3D;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:130px;
}