* {
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100%;
    height: 150px;
    background-color: black;
    color: #403F3D;
}

#leftFloat{
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 8%;
    line-height: 160px;
    background-color: #403F3D;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    border-radius:130px;
}


#rightFloat{
    width: 88%;
    height: 118px;
    margin-left: 10px;
    padding: 0px 10px 0px 0px;
    background-color: black;
    text-align: center;
    float: left;
}

#rightFloat .posicionBoton{
    width: 60%;
    padding: 45px 10px 2px 20px;
    line-height: 25px;
    background-color: black;
    text-align: center;
    float: left;
}

#rightFloat .posicionBoton .container1{
    width: 100%;
    height: 25px;
    margin-left: 2px;
    padding-left: 20px;
    vertical-align: middle;
    white-space: nowrap;
}

#rightFloat .posicionBoton .container1 .icon{
    width: 3%;
    position: absolute;
    color: black;
    float: left;
  }


  #rightFloat .posicionBoton .container1 input.botonBuscar{
    width: 95%;
    height: 35px;
    background: #FFFAF2;
    border: none;
    font-size: 10pt;
    color: black;
    padding-left: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  #rightFloat .opcionesUsuairo{
    width: 35%;
    padding: 2px 10px 2px 20px;
    line-height: 25px;
    background-color: black;
    text-align: center;
    float: left;
}

#rightFloat .opcionesUsuairo .container2{
    width: 100%;
    height: 80px;
    margin-left: 2px;
    padding-left: 20px;
    vertical-align: middle;
    white-space: nowrap;
    background-color: black;
}

#rightFloat .opcionesUsuairo .container2 .btnAcceder{
    width: 15%;
    margin-right: 50px;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
}

#rightFloat .opcionesUsuairo .container2 .btnMensajeria{
    width: 15%;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
}


#rightFloat .opcionesUsuairo .container2 .btnCrearCuenta{
    width: 15%;
    margin-left: 50px;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
}

/* CSS PARA LA BARRA DE MENU */
#menu{
    width: 97.35%;
    height: 45px;
    margin:  0px;
    padding: 5px 20px 5px 20px;
    background-color: black;
    text-align: center;
    float: left;
}

#menu li{
    font-size: 16px;
    padding: 2px;
    margin-left: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    display: inline-block;
}

#menu li a {
    font-weight:600;
    text-decoration:none;
    padding: 10px;
    display: inline-block;
    color: rgb(243, 241, 241);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}


#menu li a:hover, #menu li:hover > a{
    color: black;
    background: #FFE4E3;
}


.separador {
    width: 100%;
    height: 0px;
    background-color: white;
    clear: both;
}

.seccion1 {
    width: 100%;
    height: 100%;
    background-color: white;
}

.seccion1 .columna1 {
    width: 40%;
    height: 50%;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 5% 5% 5% 5%;
    float: left;
    background-color: white;
}


.seccion1 .columna2 {
    width: 40%;
    height: 50%;
    float: left;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 1%;
    border: none;
    padding: 3% 3% 3% 3%;
    background-color: white;
}



.unionCol {
    width: 100%;
    height: 50%;
    float: left;
    border: none;
    background-color: black;
    margin: 0px;
}


.unionCol .novedades {
    float: left;
    width: 80%;
    height: 450px;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 5%;
    background-color: black;
    font-size: 24px;
    font-family: 'Aleo', serif;
    line-height: 20px;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}


.unionCol .novedades .container3 {
    float: left;
    width: 85%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 5%;
    background-color: black;
    text-align: center;
}

.unionCol .novedades .container3 .tablaNovedades {
    float: left;
    width: 100%;
    background-color: black;
    color: #ffffffec;
    border-spacing: 30px;
}





.footer {
    width: 100%;
    height: 400px;
    margin-top: 0px;
    text-align: center;
    float: left;
    line-height: 45px;
    color: black;
    background-color: black;
}

.footer .container6{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    float: left;
    line-height: 45px;
    color: white;
    
}

.footer .container6 .btnFacebook{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-right: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container6 .btnInstagram {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container6 .estiloPiePagina {
    width: 100%;
    height: 270px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
   
}


.footer  #footerlogo{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: #403F3D;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:130px;
}